jobs:
  - test:
      machine:
        image: ubuntu-2004:202010-01
      steps:
        - checkout
        - run:
            name: Installing awscli
            command: |
              sudo apt-get update
              sudo apt install python3-pip
              sudo pip3 install awsebcli --upgrade
        - run: aws s3 sync ./Arrays/ s3://project-phoenix-circle
      
workflows:
  version: 2
  execute_bulk:
    jobs:
      - test
  
